{% extends 'base.html.twig' %}

{% block title %}Hello RoutineController!{% endblock %}

{% block content %}


    <a class="btn col-md-3 ml-4" href="{{ path('addroutine') }}">Ajouter</a>
    <div class="table-responsive col-md-8">
        <table class="table table-bordered" border="1px">
            <thead class="thead-dark">
            <tr>
                <th>Nom de la Routine</th>
                <th>Notification</th>
                <th>Produits</th>
                <th>Modifier</th>
                <th>Supprimer</th>

            </tr>
            </thead>
            <tbody>
            <tr {% for routine in routines %}>

                <td>{{ routine.nameRoutine }}</td>
                {% if  (routine.notification  == "1")  %}
                    <td>Activée</td>
                {% else %}
                    <td>Désactivée</td>
                {% endif %}
                <td {% for product in routine.products %}><ul>
                    <li>{{ product.nameProduct }} | {{ product.brand }}</li>
                </ul></td {% endfor %}>

                <td><a class="btn">Modifier</a></td>
                <td><a class="btn" href="{{ path('remove_routine',{'id':routine.id}) }}">Supprimer</a></td>
            </tr {% endfor %}>
            </tbody>
        </table>
    </div>
    </div>

{% endblock %}